Faker==18.3.2
matplotlib==3.7.0
matplotlib-inline==0.1.6
numpy==1.23.5
openpyxl==3.1.2
pandas==1.5.3
pickleshare==0.7.5
Pillow==9.4.0
platformdirs==3.0.0
pydub==0.25.1
PyYAML==6.0
pyzmq==25.0.0
streamlit==1.20.0
streamlit-authenticator==0.2.1
scikit-learn==1.2.1
scipy==1.10.0
selenium==4.8.3
tensorflow==2.10.0
